.trade-details {
  width: 25%;
  padding: 15px;
  text-align: center;
  box-shadow: -2px 0 13px rgba(221, 221, 221, 1);

  &__trade-with {
    font-size: 18px;
    margin-top: 10px;
  }

  &__buyer-name {
    font-weight: 600;
  }

  &__start-time,
  &__status-info,
  &__hash-value,
  &__amount-value {
    color: #a9a9a9;
  }

  &__paid-button {
    font-size: 18px;
    width: 200px;
    background: #52d48c;
    border: 1px solid #53c087;
    border-radius: 20px;
    padding: 8px 0;
    margin: 40px 0;
    color: #fff;
    cursor: pointer;

    &[disabled] {
      cursor: auto;
      background: #cfcfcf;
      border: 1px solid #a9a9a9;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__info-row {
    display: flex;
  }

  &__info-buyer,
  &__status,
  &__amount-usd,
  &__num-trades,
  &__hash,
  &__amount-btc {
    width: 50%;
    border-bottom: 2px solid #f3f5f4;
    padding: 15px 0;
  }

  &__info-buyer,
  &__status,
  &__amount-usd {
    border-right: 2px solid #f3f5f4;
  }

  &__label {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__info-buyer-pos-reputation {
    color: #97d361;
    font-weight: 600;
  }

  &__info-buyer-neg-reputation {
    color: #be3040;
    font-weight: 600;
  }

  &__info-buyer-avatar {
    img {
      display: inline-block;
      width: 30px;
      border-radius: 15px;
    }
  }

  .paid {
    color: #52d48c;
  }
}
